@using (Html.BeginForm("ChangePassword", "Cabinet", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Старый пароль: ", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.Password("oldPassword", "", new { @class = "form-control", required="required"})
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Новый пароль: ", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.Password("newPassword", "", new { @class = "form-control", required = "required"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Подтвердите свой новый пароль: ", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.Password("newPasswordRepeat", "", new { @class = "form-control", required = "required"})
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </div>
    </div>
}