@using DigitalMedicine.Models;
@using DigitalMedicine.Models.KnowledgeBase;
@{
    ViewBag.Title = "Возможные диагнозы";
}

<h2>Просмотреть всевозможные диагнозы по указанному симптому</h2>
<div class="form-group col-md-5">
    <label class="control-label">Выберите желаемый диагноз: </label>
    <div>
        <select id="idSymptom" class="form-control" name="idSymptom">
            @{
                DataBaseContext context = new DataBaseContext();
                foreach (var symptomGroup in context.SymptomGroups.OrderBy(d => d.Name))
                {
                    <optgroup label="@symptomGroup.Name">
                        @foreach (var symptom in symptomGroup.Symptoms.OrderBy(s => s.Name))
                        {
                            <option value="@symptom.Id">@symptom.Name</option>
                        }
                    </optgroup>
                }
            }
        </select>
    </div>
</div>

<center>
    <p class="h2">Столбчиковая диаграмма</p>
    <canvas id="myChartBar" class="col-8"></canvas>
    <a id="downloadBar" class="btn btn-outline-primary">Загрузить</a>
</center>

<script>
    var chartStr = jQuery.parseJSON("@((string)ViewBag.dataChart)".replace(/&quot;/g, "\""));
    var ctxBar = $("#myChartBar");

    var myChartBar = new Chart(ctxBar, {
        type: 'bar',
        "data": chartStr,
        options: {
            legend: {
                display: false
            },
            responsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });

    $("#idSymptom").change(function () {
        var option = $(this).find('option:selected').val();
        $.post("@Url.Action("GetDiagnosesBySymptom", "Admin")", { "idSymptom": option }, function (data) {
            myChartBar.clear();
            if (data == "null")
                return;
            chartStr = jQuery.parseJSON(data.replace(/&quot;/g, "\""));
            myChartBar.data.datasets = chartStr.datasets;
            myChartBar.data.labels = chartStr.labels;
            myChartBar.update();
        });
    });

    $("#downloadBar").click(function () {
        var obj = myChartBar.toBase64Image();
        this.href = obj;
        this.download = "DiagnosesBar.png";
    });
</script>
